# Files types

*.db
*.json
*.log
*.log.1
*.log.fault

# Folders

.cloud/
.storage/
tts/
www/

# Files

.HA_VERSION
.uuid
google_calendars.yaml
ip_bans.yaml
known_devices.yaml
secrets.yaml
home-assistant_v2.db-shm
home-assistant_v2.db-wal
.storage/auth
.storage/core.restore_state
zigbee.db-shm
zigbee.db-wal
